venv/
book_analysis/.env
book_analysis/.ipynb_checkpoints
book_analysis/notebook
chat_analysis_1/.env
chat_analysis_1/.ipynb_checkpoints
chat_analysis_1/cache
chat_analysis_1/output
chat_analysis_1/notebook
chat_analysis_2/.env
chat_analysis_2/notebook
chat_analysis_2/.ipynb_checkpoints
chat_analysis_2/output
chat_analysis_2/cache
